.about-landing {
  display: flex;
  height: calc(100vh - 10vh);
}

.landing-image {
  flex: 1.5; 
  overflow: hidden;
}
.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem;
}

.landing-logo {
  width: 120px;
  max-width: 30%;
  margin-bottom: 2rem;
  display: block;
}

.landing-content h1 {
  font-size: 2.5rem;
  color: var(--primary-blue);
  margin-bottom: 2rem;
}

.landing-content p {
  font-size: 1rem;
  line-height: 2;
  color: var(--dark-gray);
}

.values-offer {
  display: flex;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
  align-items: center;
  padding: 0 1rem;
}

.values-content {
  flex: 1;
}

.values-content .section-block + .section-block {
  margin-top: 2rem;
}
.section-block {
  background-color: rgba(102, 153, 204, 0.25);
  padding: 1rem 4rem;
  border-radius: 20px;
}

.values-content h3 {
  font-size: 2rem;
  color: var(--primary-blue);
  margin-bottom: 1rem;
}

.values-content ul {
  line-height: 2.5;
  color: var(--dark-gray);
  list-style: none;
  padding-left: 0;
}

.values-content ul li {
  display: flex;
  align-items: flex-start;
}

.values-content ul li i {
  color: var(--primary-blue);
  margin-right: 1rem;
  line-height: 1.75;
  font-size: 1.5rem;
}

.values-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.image-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.values-image .image-circle:nth-child(1) {
  transform: translateX(-100px);
}

.values-image .image-circle:nth-child(2) {
  transform: translateX(100px);
}

@media (max-width: 768px) {
  .about-landing {
    flex-direction: column;
    height: auto;
  }
  .landing-image {
    height: 250px;
  }
  .landing-logo {
    margin: 0 auto 1rem;
  }
  .landing-content {
    padding: 1.5rem;
    text-align: center;
  }
  .landing-content h1 {
    font-size: 2rem;
  }
  .values-offer {
    flex-direction: column;
    height: auto;
    padding: 0.5rem 1rem;
    gap: 2rem;
  }
  .values-content {
    transform: none;
    margin: 0 auto 1.5rem;
    text-align: center;
  }
  .values-image {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }
  .image-circle {
    width: 120px;
    height: 120px;
    transform: none;
  }
}
